footer 
	background: #2A2A2A
	border-bottom: solid 1px #373636
	padding: 15px

	.fale-conosco
		margin: 5px 0 0
		
		img 
			margin: 0 45px 0 0
	
		h5,
		h6,
		i			
			font-size: 16px
			font-weight: bold
			line-height: 1.5
			color: $branco
			display: inline-block 
			margin: 0 55px 0 0 

		a,
		i,				
			margin: 0 5px 0 0			
		
		h6				
			margin: 0 55px 0 0	
	
footer
	background: #2A2A2A	
	
	.logo-rodape
		margin: 10px 0 0
	p
		font-size: 18px		
		color: #656565
		text-align: center		

	i 
		color: $laranja
		font-weight: bold

	span 
		font-size: 18px
		padding: 5px		
		color: #656565

	h5	
		padding: 50px 0 0
		font-weight: bold
		color: $laranja
		font-size: 22px

	a 
		&:hover			 
			color: $laranja
	
	h6,
	a 
		font-size: 18px
		line-height: 1.5
		color: #656565		  
			
	.copy
		margin: 40px 0 0		 
		i 
			color: $vermelho 

		p
			font-size: 18px !important
			padding: 10px
			color: #656565
