.textos
	+make-sm-column(8)
	+make-sm-column-offset(2)
	text-align: center
	margin-top: 20px 
		
	p
		+font-size(30px)

	.botao
		display: table
		margin: 30px auto

	strong					
		border-bottom: 3px solid $laranja				
		color: $laranja
	
	span 
		font-weight: $bold
		color: $preto

.titulo	
	margin: 50px 0 10px
	font-size: 28px
	font-weight: $bold
	text-align: center
	color: $laranja
